* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100% ;
}
.red {
  background-color: #D90404;
}
.black {
  color: white;
  background-color: #0D0D0D;
}
.yellow {
  background-color: #F2CB07;
}
